.space {
  margin-bottom: 20px;
}

.com_wsscode_pathom_book_graphql_fulcro-network_demos_RequireTokenApp__container button {
  color: #fff;
  background-color: #3a7cb5;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #3a7cb5;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  outline: 0;
}
